.product-form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-form h2 {
    color: var(--accent-color);
}

.product-form input,
.product-form select,
.product-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    background: transparent;
    color: var(--accent-color);
}

.product-form input::placeholder,
.product-form select::placeholder {
    color: var(--accent-color);
}

.product-form button {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.product-form button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
